@font-face {
    font-family:'nexalight';
    src: url('/fonts/Nexa-ExtraLight.ttf') format('truetype');;
  }
@font-face {
    font-family:'nexabold';
    src: url('/fonts/Nexa-Heavy.ttf') format('truetype');;
  } 
@font-face {
    font-family:'nexaregular';
    src: url('/fonts/Nexa\ Regular.otf') format('truetype');;
  } 
*{
    margin: 0;
    padding: 0;
    font-family:'nexalight', sans-serif;
    box-sizing: border-box;
}
h1 span{
    font-family:'nexaregular', sans-serif;
}
html{
    scroll-behavior: smooth;
    transition-duration: 0.5s;
}
body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #222629;
    color: #fff;
}
iframe{
    position: absolute;
}
#header{
    width: 100%;
    height: 100vh;
    background:url(bg2.webp)no-repeat  fixed; 
    background-size: cover;
}
.header-text p{
    font-size: 35px;
}

.container{
    padding: 10px 10%;
}
nav{
    height: 65px;
    display: flex;
    position: relative;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    display: inline-flex;
    font-family: 'nexaregular', sans-serif;
    align-items: center;
    cursor: pointer;
    width: 50px;
    color: #f1f1f1;
}
.auto-type{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: #86c232;
    margin-top: 20px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
a{
    color: #fff;
    text-decoration: none;
    font-size: 23px;
    position: relative;
}

nav ul li a{
    /* font-family: 'nexaregular', sans-serif; */
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    /* font-weight: 600; */
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #86c232;
    position: absolute;
    left: 0;
    bottom: -6px;
}

nav ul li a:hover::after{
    width: 100%;
    transition: 0.5s;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 5px;
}

.header-text h1 span{
    color: #86c232;
    font-size: 80px;
}
p span::before {
    content: "";
    height: 30px;
    width: 2px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: #86c232;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}
p span.stop-blinking::before {
    animation: none;
}
@keyframes blink {
    50% { opacity: 0 }
}




/*-------------------About Section-------------------*/
#about{
    padding: 30px 0;
    color: #ababab;
}

.Mypic{
    width: 400px;
    height: 515px;
    overflow: hidden;
    position: relative;
}

.row{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.about-col-1{
    padding-bottom: 60px;
}

.experience-col-1{
    flex-basis: 35%;
    padding-bottom: 60px;
}

.education-col-1{
    flex-basis: 35%;
    padding-bottom: 60px;
}

.about-col-1 img{
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
    padding-left: 100px;
    padding-right: 100px;
}

.experience-col-2{
    flex-basis: 60%;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 100px;
}

.education-col-2{
    flex-basis: 60%;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 100px;
}

.subtitle{
    font-size: 80px;
    font-weight: 600;
    color: #fff;
}

.subtitle-p{
    padding-top: 20px;
    font-size: 20px;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #86c232;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}


.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 15px 0;
}

.tab-contents ul li span{
    color: #86c232;
    font-size: 18px;
}

.tab-contents{
    display: none;
    font-size: 14px;
}

.tab-contents.active-tab{
    display: block;
}


/*--------projects--------*/

#projects{
    padding: 30px 0;
}

.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    padding-bottom: 30px;
}

.projects-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.projects-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.projects-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    padding-bottom: 50px;
}

.projects-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.projects-list div:hover{
    background: #86c232;
    transform: translateY(-10px);
    color: #262626;
}

.projects-list div a:hover{
    color: #262626;
}

.btn{
    font-size: 18px;
    display: block;
    margin: 50px 9px;
    width: fit-content;
    border: 1px solid #86c232;
    background: #86c232;
    padding: 14px 50px;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
}


.btn:hover{
    box-shadow: 1px 1px 8px #86c232;
    background: #86c232;
    color: #ffffff;
}

/*--------Contact--------*/

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #86c232;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: color 0.5s, transform 0.5s
}

.social-icons a:hover{
    color: #86c232;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
}

.btn3{
    background-color: #474B4F;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    background: #474B4F;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 18px;
    padding: 15px;
    margin: 15px 0;
    border-radius: 6px;
}

/*--------Footer--------*/

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #474B4F;
    font-weight: 300;
    margin-top: 20px;
}

.copyright ul{
    display: flex;
    padding: auto;
    justify-content: center;
    list-style: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}

.copyright ul li a{
    color: #fff;
}

.cont1{
    flex-basis: 35%;
    margin-top: 20px;
}

.cont1 i{
    font-size: 100px;
    padding: 87px;
    margin-left: 50px;
    transition: color 0.5s, transform 0.5s
}

.cont1 i:hover{
    color: #474B4F;
    background-color: #86c232;
    border-radius: 20%;
}

.cont2{
    flex-basis: 80%;
    font-size: 20px;
}

.cont2 h2{
    font-size: 30px;
}

.cont2 p{
    margin-top: 10px;
}

.skills{
    margin-top: 20px;
}

.skills li{
    margin: 20px;
    font-size: 20px;
    translate: color 0.5s, transform 0.5s;
}

.skills li:hover{
    color: #86c232;
    transition: color 0.5s, transform 0.5s;
}

/*--------Media Queries--------*/

nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background: url('phonemode.webp');
        background-attachment:scroll;
        background-repeat:no-repeat;
        background-size:cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-position: center center; 
    }

    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 25px;
    }
    .header-text h1 span{
        font-size: 50px;
    }
    .header-text p{
        font-size: 25px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #474B4F;
        backface-visibility: visible;
        color: #86c232;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px; 
        z-index: 2;
        transition: right 0.5s;
        opacity: .9;
    }
    nav ul li{
        color: #86c232;
        display: block;
        margin: 25px;
    }

    nav ul li a{
        color: #ffffff;
        text-decoration: none;
        font-size: 20px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .subtitle{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
        margin-bottom: 0px;
    }
    .about-col-1 img{
        width: 315px;
        height: 315px;
    }
    .about-col-2{
        margin: 0px;
        padding: 0px;
        font-size: 14px;
        padding-left: 100px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 40px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
    .btn{
        margin: 25px 9px;
    }
    .btn4{
        font-size: 16px;
        margin: 25px 3px;
        
    }
    .about-col-1 {
        padding-bottom: 10px;
    }

}
@media only screen and (min-width: 600px){
    .special{
        display: none;
    }
}

@media only screen and (max-width: 376px){
    .container{
        padding: 10px 8%;
    }
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
#project1, #project2, #project3, #project4, #project5{ 
    color: #ababab;
}

.projectpic{
    width: 500px;
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subtitle2{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.about-col-1{
    flex-basis: 30%;
}

.about-col-2{
    flex-basis: 50%;
    padding-left: 40px;
}
@media only screen and (max-width: 600px){
    .about-col-2{
        flex-basis: 100%;
        padding-left: 0px;
    }
}
.about-col-2 p{
    margin-top: 5px;
    line-height: 25px;
}

.infospan{
    display: flex;
    width: 150px;
}
.infoinfo{
    display: block;
    list-style: none;
}
.infoinfo li{
    font-size: 16px;
    color: #fff;
    margin: 5px 0px;
}
.custom-about{
    flex-basis: 60%;
}
@media only screen and (max-width: 431px){
    .custom-about{
        flex-basis: 99%;
    }
}
@media only screen and (max-width: 431px){
    .experience-col-2{
        flex-basis: 99%;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .subtitle2{
        font-size: 44px;
    }
    .cont2{
        flex-basis: 99%;
    }
}
.divbtn{
    display: flex;
}
@media only screen and (max-width: 600px) {
    #profile {
        width: 315px;
        height: 402px;
    }
}
.shapeee i{
    font-size: 270px;
    padding: 36px;
}
@media only screen and (max-width: 600px) {
    .shapeee i{
        font-size: 174px;
    }
}
p{
    color: #dedede;
}
ul li{
    color: #dedede;
}
@media only screen and (max-width: 600px) {
    .reverserow{
        display: flex;
        flex-direction: column-reverse;
    }
    
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
